node_modules
.parcel-cache
documentation/proto-cleaner.md
documentation/proptocleaner2.md
documentation/prototype.md
documentation/docs/.vitepress/dist/
lib
microncss.config.js
src/utils/config
src/css