@use '../utils' as *;

$colors: (
  'text-black': (
    'prop': 'color',
    'values': (
      'default': hsl(0, 0%, 0%),
    ),
  ),
  'text-white': (
    'prop': 'color',
    'values': (
      'default': hsl(0, 0%, 100%),
    ),
  ),
  'text-gray': (
    'prop': 'color',
    'values': (
      'default': hsl(0, 0%, 50%),
      '100': hsl(0, 0%, 90%),
      '200': hsl(0, 0%, 80%),
      '300': hsl(0, 0%, 70%),
      '400': hsl(0, 0%, 60%),
      '500': hsl(0, 0%, 50%),
      '600': hsl(0, 0%, 40%),
      '700': hsl(0, 0%, 30%),
      '800': hsl(0, 0%, 20%),
      '900': hsl(0, 0%, 10%),
    ),
  ),
  'text-red': (
    'prop': 'color',
    'values': (
      'default': hsl(0, 100%, 50%),
      '100': hsl(0, 100%, 90%),
      '200': hsl(0, 100%, 80%),
      '300': hsl(0, 100%, 70%),
      '400': hsl(0, 100%, 60%),
      '500': hsl(0, 100%, 50%),
      '600': hsl(0, 100%, 40%),
      '700': hsl(0, 100%, 30%),
      '800': hsl(0, 100%, 20%),
      '900': hsl(0, 100%, 10%),
    ),
  ),
  'text-orange': (
    'prop': 'color',
    'values': (
      'default': hsl(30, 100%, 50%),
      '100': hsl(30, 100%, 90%),
      '200': hsl(30, 100%, 80%),
      '300': hsl(30, 100%, 70%),
      '400': hsl(30, 100%, 60%),
      '500': hsl(30, 100%, 50%),
      '600': hsl(30, 100%, 40%),
      '700': hsl(30, 100%, 30%),
      '800': hsl(30, 100%, 20%),
      '900': hsl(30, 100%, 10%),
    ),
  ),
  'text-yellow': (
    'prop': 'color',
    'values': (
      'default': hsl(45, 97%, 50%),
      '100': hsl(45, 97%, 90%),
      '200': hsl(45, 97%, 80%),
      '300': hsl(45, 97%, 70%),
      '400': hsl(45, 97%, 60%),
      '500': hsl(45, 97%, 50%),
      '600': hsl(45, 97%, 40%),
      '700': hsl(45, 97%, 30%),
      '800': hsl(45, 97%, 20%),
      '900': hsl(45, 97%, 10%),
    ),
  ),
  'text-green': (
    'prop': 'color',
    'values': (
      'default': hsl(120, 100%, 50%),
      '100': hsl(120, 100%, 90%),
      '200': hsl(120, 100%, 80%),
      '300': hsl(120, 100%, 70%),
      '400': hsl(120, 100%, 60%),
      '500': hsl(120, 100%, 50%),
      '600': hsl(120, 100%, 40%),
      '700': hsl(120, 100%, 30%),
      '800': hsl(120, 100%, 20%),
      '900': hsl(120, 100%, 10%),
    ),
  ),
  'text-teal': (
    'prop': 'color',
    'values': (
      'default': hsl(180, 100%, 25%),
      '100': hsl(180, 100%, 95%),
      '200': hsl(180, 100%, 85%),
      '300': hsl(180, 100%, 75%),
      '400': hsl(180, 100%, 65%),
      '500': hsl(180, 100%, 55%),
      '600': hsl(180, 100%, 45%),
      '700': hsl(180, 100%, 35%),
      '800': hsl(180, 100%, 25%),
      '900': hsl(180, 100%, 15%),
    ),
  ),
  'text-cyan': (
    'prop': 'color',
    'values': (
      'default': hsl(180, 100%, 50%),
      '100': hsl(180, 100%, 90%),
      '200': hsl(180, 100%, 80%),
      '300': hsl(180, 100%, 70%),
      '400': hsl(180, 100%, 60%),
      '500': hsl(180, 100%, 50%),
      '600': hsl(180, 100%, 40%),
      '700': hsl(180, 100%, 30%),
      '800': hsl(180, 100%, 20%),
      '900': hsl(180, 100%, 10%),
    ),
  ),
  'text-sky': (
    'prop': 'color',
    'values': (
      'default': hsl(197, 71%, 73%),
      '100': hsl(197, 71%, 93%),
      '200': hsl(197, 71%, 83%),
      '300': hsl(197, 71%, 73%),
      '400': hsl(197, 71%, 63%),
      '500': hsl(197, 71%, 53%),
      '600': hsl(197, 71%, 43%),
      '700': hsl(197, 71%, 33%),
      '800': hsl(197, 71%, 23%),
      '900': hsl(197, 71%, 13%),
    ),
  ),
  'text-blue': (
    'prop': 'color',
    'values': (
      'default': hsl(215, 99%, 50%),
      '100': hsl(215, 99%, 90%),
      '200': hsl(215, 99%, 80%),
      '300': hsl(215, 99%, 70%),
      '400': hsl(215, 99%, 60%),
      '500': hsl(215, 99%, 50%),
      '600': hsl(215, 99%, 40%),
      '700': hsl(215, 99%, 30%),
      '800': hsl(215, 99%, 20%),
      '900': hsl(215, 99%, 10%),
    ),
  ),
  'text-indigo': (
    'prop': 'color',
    'values': (
      'default': hsl(266, 100%, 26%),
      '100': hsl(266, 100%, 96%),
      '200': hsl(266, 100%, 86%),
      '300': hsl(266, 100%, 76%),
      '400': hsl(266, 100%, 66%),
      '500': hsl(266, 100%, 56%),
      '600': hsl(266, 100%, 46%),
      '700': hsl(266, 100%, 36%),
      '800': hsl(266, 100%, 26%),
      '900': hsl(266, 100%, 16%),
    ),
  ),
  'text-violet': (
    'prop': 'color',
    'values': (
      'default': hsl(274, 100%, 50%),
      '100': hsl(274, 100%, 90%),
      '200': hsl(274, 100%, 80%),
      '300': hsl(274, 100%, 70%),
      '400': hsl(274, 100%, 60%),
      '500': hsl(274, 100%, 50%),
      '600': hsl(274, 100%, 40%),
      '700': hsl(274, 100%, 30%),
      '800': hsl(274, 100%, 20%),
      '900': hsl(274, 100%, 10%),
    ),
  ),
  'text-purple': (
    'prop': 'color',
    'values': (
      'default': hsl(275, 100%, 37%),
      '100': hsl(275, 100%, 97%),
      '200': hsl(275, 100%, 87%),
      '300': hsl(275, 100%, 77%),
      '400': hsl(275, 100%, 67%),
      '500': hsl(275, 100%, 57%),
      '600': hsl(275, 100%, 47%),
      '700': hsl(275, 100%, 37%),
      '800': hsl(275, 100%, 27%),
      '900': hsl(275, 100%, 17%),
    ),
  ),
  'text-fuchsia': (
    'prop': 'color',
    'values': (
      'default': hsl(300, 100%, 50%),
      '100': hsl(300, 100%, 90%),
      '200': hsl(300, 100%, 80%),
      '300': hsl(300, 100%, 70%),
      '400': hsl(300, 100%, 60%),
      '500': hsl(300, 100%, 50%),
      '600': hsl(300, 100%, 40%),
      '700': hsl(300, 100%, 30%),
      '800': hsl(300, 100%, 20%),
      '900': hsl(300, 100%, 10%),
    ),
  ),
  'text-pink': (
    'prop': 'color',
    'values': (
      'default': hsl(331, 76%, 83%),
      '100': hsl(331, 76%, 93%),
      '200': hsl(331, 76%, 83%),
      '300': hsl(331, 76%, 73%),
      '400': hsl(331, 76%, 63%),
      '500': hsl(331, 76%, 53%),
      '600': hsl(331, 76%, 43%),
      '700': hsl(331, 76%, 33%),
      '800': hsl(331, 76%, 23%),
      '900': hsl(331, 76%, 13%),
    ),
  ),
  'bg-black': (
    'prop': 'background-color',
    'values': (
      'default': hsl(0, 0%, 0%),
    ),
  ),
  'bg-white': (
    'prop': 'background-color',
    'values': (
      'default': hsl(0, 0%, 100%),
    ),
  ),
  'bg-gray': (
    'prop': 'background-color',
    'values': (
      'default': hsl(0, 0%, 50%),
      '100': hsl(0, 0%, 90%),
      '200': hsl(0, 0%, 80%),
      '300': hsl(0, 0%, 70%),
      '400': hsl(0, 0%, 60%),
      '500': hsl(0, 0%, 50%),
      '600': hsl(0, 0%, 40%),
      '700': hsl(0, 0%, 30%),
      '800': hsl(0, 0%, 20%),
      '900': hsl(0, 0%, 10%),
    ),
  ),
  'bg-red': (
    'prop': 'background-color',
    'values': (
      'default': hsl(0, 100%, 50%),
      '100': hsl(0, 100%, 90%),
      '200': hsl(0, 100%, 80%),
      '300': hsl(0, 100%, 70%),
      '400': hsl(0, 100%, 60%),
      '500': hsl(0, 100%, 50%),
      '600': hsl(0, 100%, 40%),
      '700': hsl(0, 100%, 30%),
      '800': hsl(0, 100%, 20%),
      '900': hsl(0, 100%, 10%),
    ),
  ),
  'bg-orange': (
    'prop': 'background-color',
    'values': (
      'default': hsl(30, 100%, 50%),
      '100': hsl(30, 100%, 90%),
      '200': hsl(30, 100%, 80%),
      '300': hsl(30, 100%, 70%),
      '400': hsl(30, 100%, 60%),
      '500': hsl(30, 100%, 50%),
      '600': hsl(30, 100%, 40%),
      '700': hsl(30, 100%, 30%),
      '800': hsl(30, 100%, 20%),
      '900': hsl(30, 100%, 10%),
    ),
  ),
  'bg-yellow': (
    'prop': 'background-color',
    'values': (
      'default': hsl(45, 97%, 50%),
      '100': hsl(45, 97%, 90%),
      '200': hsl(45, 97%, 80%),
      '300': hsl(45, 97%, 70%),
      '400': hsl(45, 97%, 60%),
      '500': hsl(45, 97%, 50%),
      '600': hsl(45, 97%, 40%),
      '700': hsl(45, 97%, 30%),
      '800': hsl(45, 97%, 20%),
      '900': hsl(45, 97%, 10%),
    ),
  ),
  'bg-green': (
    'prop': 'background-color',
    'values': (
      'default': hsl(120, 100%, 50%),
      '100': hsl(120, 100%, 90%),
      '200': hsl(120, 100%, 80%),
      '300': hsl(120, 100%, 70%),
      '400': hsl(120, 100%, 60%),
      '500': hsl(120, 100%, 50%),
      '600': hsl(120, 100%, 40%),
      '700': hsl(120, 100%, 30%),
      '800': hsl(120, 100%, 20%),
      '900': hsl(120, 100%, 10%),
    ),
  ),
  'bg-teal': (
    'prop': 'background-color',
    'values': (
      'default': hsl(180, 100%, 25%),
      '100': hsl(180, 100%, 95%),
      '200': hsl(180, 100%, 85%),
      '300': hsl(180, 100%, 75%),
      '400': hsl(180, 100%, 65%),
      '500': hsl(180, 100%, 55%),
      '600': hsl(180, 100%, 45%),
      '700': hsl(180, 100%, 35%),
      '800': hsl(180, 100%, 25%),
      '900': hsl(180, 100%, 15%),
    ),
  ),
  'bg-cyan': (
    'prop': 'background-color',
    'values': (
      'default': hsl(180, 100%, 50%),
      '100': hsl(180, 100%, 90%),
      '200': hsl(180, 100%, 80%),
      '300': hsl(180, 100%, 70%),
      '400': hsl(180, 100%, 60%),
      '500': hsl(180, 100%, 50%),
      '600': hsl(180, 100%, 40%),
      '700': hsl(180, 100%, 30%),
      '800': hsl(180, 100%, 20%),
      '900': hsl(180, 100%, 10%),
    ),
  ),
  'bg-sky': (
    'prop': 'background-color',
    'values': (
      'default': hsl(197, 71%, 73%),
      '100': hsl(197, 71%, 93%),
      '200': hsl(197, 71%, 83%),
      '300': hsl(197, 71%, 73%),
      '400': hsl(197, 71%, 63%),
      '500': hsl(197, 71%, 53%),
      '600': hsl(197, 71%, 43%),
      '700': hsl(197, 71%, 33%),
      '800': hsl(197, 71%, 23%),
      '900': hsl(197, 71%, 13%),
    ),
  ),
  'bg-blue': (
    'prop': 'background-color',
    'values': (
      'default': hsl(215, 99%, 50%),
      '100': hsl(215, 99%, 90%),
      '200': hsl(215, 99%, 80%),
      '300': hsl(215, 99%, 70%),
      '400': hsl(215, 99%, 60%),
      '500': hsl(215, 99%, 50%),
      '600': hsl(215, 99%, 40%),
      '700': hsl(215, 99%, 30%),
      '800': hsl(215, 99%, 20%),
      '900': hsl(215, 99%, 10%),
    ),
  ),
  'bg-indigo': (
    'prop': 'background-color',
    'values': (
      'default': hsl(266, 100%, 26%),
      '100': hsl(266, 100%, 96%),
      '200': hsl(266, 100%, 86%),
      '300': hsl(266, 100%, 76%),
      '400': hsl(266, 100%, 66%),
      '500': hsl(266, 100%, 56%),
      '600': hsl(266, 100%, 46%),
      '700': hsl(266, 100%, 36%),
      '800': hsl(266, 100%, 26%),
      '900': hsl(266, 100%, 16%),
    ),
  ),
  'bg-violet': (
    'prop': 'background-color',
    'values': (
      'default': hsl(274, 100%, 50%),
      '100': hsl(274, 100%, 90%),
      '200': hsl(274, 100%, 80%),
      '300': hsl(274, 100%, 70%),
      '400': hsl(274, 100%, 60%),
      '500': hsl(274, 100%, 50%),
      '600': hsl(274, 100%, 40%),
      '700': hsl(274, 100%, 30%),
      '800': hsl(274, 100%, 20%),
      '900': hsl(274, 100%, 10%),
    ),
  ),
  'bg-purple': (
    'prop': 'background-color',
    'values': (
      'default': hsl(275, 100%, 37%),
      '100': hsl(275, 100%, 97%),
      '200': hsl(275, 100%, 87%),
      '300': hsl(275, 100%, 77%),
      '400': hsl(275, 100%, 67%),
      '500': hsl(275, 100%, 57%),
      '600': hsl(275, 100%, 47%),
      '700': hsl(275, 100%, 37%),
      '800': hsl(275, 100%, 27%),
      '900': hsl(275, 100%, 17%),
    ),
  ),
  'bg-fuchsia': (
    'prop': 'background-color',
    'values': (
      'default': hsl(300, 100%, 50%),
      '100': hsl(300, 100%, 90%),
      '200': hsl(300, 100%, 80%),
      '300': hsl(300, 100%, 70%),
      '400': hsl(300, 100%, 60%),
      '500': hsl(300, 100%, 50%),
      '600': hsl(300, 100%, 40%),
      '700': hsl(300, 100%, 30%),
      '800': hsl(300, 100%, 20%),
      '900': hsl(300, 100%, 10%),
    ),
  ),
  'bg-pink': (
    'prop': 'background-color',
    'values': (
      'default': hsl(331, 76%, 83%),
      '100': hsl(331, 76%, 93%),
      '200': hsl(331, 76%, 83%),
      '300': hsl(331, 76%, 73%),
      '400': hsl(331, 76%, 63%),
      '500': hsl(331, 76%, 53%),
      '600': hsl(331, 76%, 43%),
      '700': hsl(331, 76%, 33%),
      '800': hsl(331, 76%, 23%),
      '900': hsl(331, 76%, 13%),
    ),
  ),
  'border-black': (
    'prop': 'border-color',
    'values': (
      'default': hsl(0, 0%, 0%),
    ),
  ),
  'border-white': (
    'prop': 'border-color',
    'values': (
      'default': hsl(0, 0%, 100%),
    ),
  ),
  'border-gray': (
    'prop': 'border-color',
    'values': (
      'default': hsl(0, 0%, 50%),
      '100': hsl(0, 0%, 90%),
      '200': hsl(0, 0%, 80%),
      '300': hsl(0, 0%, 70%),
      '400': hsl(0, 0%, 60%),
      '500': hsl(0, 0%, 50%),
      '600': hsl(0, 0%, 40%),
      '700': hsl(0, 0%, 30%),
      '800': hsl(0, 0%, 20%),
      '900': hsl(0, 0%, 10%),
    ),
  ),
  'border-red': (
    'prop': 'border-color',
    'values': (
      'default': hsl(0, 100%, 50%),
      '100': hsl(0, 100%, 90%),
      '200': hsl(0, 100%, 80%),
      '300': hsl(0, 100%, 70%),
      '400': hsl(0, 100%, 60%),
      '500': hsl(0, 100%, 50%),
      '600': hsl(0, 100%, 40%),
      '700': hsl(0, 100%, 30%),
      '800': hsl(0, 100%, 20%),
      '900': hsl(0, 100%, 10%),
    ),
  ),
  'border-orange': (
    'prop': 'border-color',
    'values': (
      'default': hsl(30, 100%, 50%),
      '100': hsl(30, 100%, 90%),
      '200': hsl(30, 100%, 80%),
      '300': hsl(30, 100%, 70%),
      '400': hsl(30, 100%, 60%),
      '500': hsl(30, 100%, 50%),
      '600': hsl(30, 100%, 40%),
      '700': hsl(30, 100%, 30%),
      '800': hsl(30, 100%, 20%),
      '900': hsl(30, 100%, 10%),
    ),
  ),
  'border-yellow': (
    'prop': 'border-color',
    'values': (
      'default': hsl(45, 97%, 50%),
      '100': hsl(45, 97%, 90%),
      '200': hsl(45, 97%, 80%),
      '300': hsl(45, 97%, 70%),
      '400': hsl(45, 97%, 60%),
      '500': hsl(45, 97%, 50%),
      '600': hsl(45, 97%, 40%),
      '700': hsl(45, 97%, 30%),
      '800': hsl(45, 97%, 20%),
      '900': hsl(45, 97%, 10%),
    ),
  ),
  'border-green': (
    'prop': 'border-color',
    'values': (
      'default': hsl(120, 100%, 50%),
      '100': hsl(120, 100%, 90%),
      '200': hsl(120, 100%, 80%),
      '300': hsl(120, 100%, 70%),
      '400': hsl(120, 100%, 60%),
      '500': hsl(120, 100%, 50%),
      '600': hsl(120, 100%, 40%),
      '700': hsl(120, 100%, 30%),
      '800': hsl(120, 100%, 20%),
      '900': hsl(120, 100%, 10%),
    ),
  ),
  'border-teal': (
    'prop': 'border-color',
    'values': (
      'default': hsl(180, 100%, 25%),
      '100': hsl(180, 100%, 95%),
      '200': hsl(180, 100%, 85%),
      '300': hsl(180, 100%, 75%),
      '400': hsl(180, 100%, 65%),
      '500': hsl(180, 100%, 55%),
      '600': hsl(180, 100%, 45%),
      '700': hsl(180, 100%, 35%),
      '800': hsl(180, 100%, 25%),
      '900': hsl(180, 100%, 15%),
    ),
  ),
  'border-cyan': (
    'prop': 'border-color',
    'values': (
      'default': hsl(180, 100%, 50%),
      '100': hsl(180, 100%, 90%),
      '200': hsl(180, 100%, 80%),
      '300': hsl(180, 100%, 70%),
      '400': hsl(180, 100%, 60%),
      '500': hsl(180, 100%, 50%),
      '600': hsl(180, 100%, 40%),
      '700': hsl(180, 100%, 30%),
      '800': hsl(180, 100%, 20%),
      '900': hsl(180, 100%, 10%),
    ),
  ),
  'border-sky': (
    'prop': 'border-color',
    'values': (
      'default': hsl(197, 71%, 73%),
      '100': hsl(197, 71%, 93%),
      '200': hsl(197, 71%, 83%),
      '300': hsl(197, 71%, 73%),
      '400': hsl(197, 71%, 63%),
      '500': hsl(197, 71%, 53%),
      '600': hsl(197, 71%, 43%),
      '700': hsl(197, 71%, 33%),
      '800': hsl(197, 71%, 23%),
      '900': hsl(197, 71%, 13%),
    ),
  ),
  'border-blue': (
    'prop': 'border-color',
    'values': (
      'default': hsl(215, 99%, 50%),
      '100': hsl(215, 99%, 90%),
      '200': hsl(215, 99%, 80%),
      '300': hsl(215, 99%, 70%),
      '400': hsl(215, 99%, 60%),
      '500': hsl(215, 99%, 50%),
      '600': hsl(215, 99%, 40%),
      '700': hsl(215, 99%, 30%),
      '800': hsl(215, 99%, 20%),
      '900': hsl(215, 99%, 10%),
    ),
  ),
  'border-indigo': (
    'prop': 'border-color',
    'values': (
      'default': hsl(266, 100%, 26%),
      '100': hsl(266, 100%, 96%),
      '200': hsl(266, 100%, 86%),
      '300': hsl(266, 100%, 76%),
      '400': hsl(266, 100%, 66%),
      '500': hsl(266, 100%, 56%),
      '600': hsl(266, 100%, 46%),
      '700': hsl(266, 100%, 36%),
      '800': hsl(266, 100%, 26%),
      '900': hsl(266, 100%, 16%),
    ),
  ),
  'border-violet': (
    'prop': 'border-color',
    'values': (
      'default': hsl(274, 100%, 50%),
      '100': hsl(274, 100%, 90%),
      '200': hsl(274, 100%, 80%),
      '300': hsl(274, 100%, 70%),
      '400': hsl(274, 100%, 60%),
      '500': hsl(274, 100%, 50%),
      '600': hsl(274, 100%, 40%),
      '700': hsl(274, 100%, 30%),
      '800': hsl(274, 100%, 20%),
      '900': hsl(274, 100%, 10%),
    ),
  ),
  'border-purple': (
    'prop': 'border-color',
    'values': (
      'default': hsl(275, 100%, 37%),
      '100': hsl(275, 100%, 97%),
      '200': hsl(275, 100%, 87%),
      '300': hsl(275, 100%, 77%),
      '400': hsl(275, 100%, 67%),
      '500': hsl(275, 100%, 57%),
      '600': hsl(275, 100%, 47%),
      '700': hsl(275, 100%, 37%),
      '800': hsl(275, 100%, 27%),
      '900': hsl(275, 100%, 17%),
    ),
  ),
  'border-fuchsia': (
    'prop': 'border-color',
    'values': (
      'default': hsl(300, 100%, 50%),
      '100': hsl(300, 100%, 90%),
      '200': hsl(300, 100%, 80%),
      '300': hsl(300, 100%, 70%),
      '400': hsl(300, 100%, 60%),
      '500': hsl(300, 100%, 50%),
      '600': hsl(300, 100%, 40%),
      '700': hsl(300, 100%, 30%),
      '800': hsl(300, 100%, 20%),
      '900': hsl(300, 100%, 10%),
    ),
  ),
  'border-pink': (
    'prop': 'border-color',
    'values': (
      'default': hsl(331, 76%, 83%),
      '100': hsl(331, 76%, 93%),
      '200': hsl(331, 76%, 83%),
      '300': hsl(331, 76%, 73%),
      '400': hsl(331, 76%, 63%),
      '500': hsl(331, 76%, 53%),
      '600': hsl(331, 76%, 43%),
      '700': hsl(331, 76%, 33%),
      '800': hsl(331, 76%, 23%),
      '900': hsl(331, 76%, 13%),
    ),
  ),
);

// generate utility classes
@each $name, $map in $colors {
  $prop: map-get($map, 'prop');
  $values: map-get($map, 'values');

  @each $k, $v in $values {
    @if ($k == 'default') {
      .#{$name} {
        #{$prop}: $v;
      }
    } @else {
      .#{$name}-#{$k} {
        #{$prop}: $v;
      }
    }
  }
}

// hover
@each $name, $map in $colors {
  $prop: map-get($map, 'prop');
  $values: map-get($map, 'values');

  @each $k, $v in $values {
    @if ($k == 'default') {
      .hover\:#{$name}:hover {
        #{$prop}: $v;
      }
    } @else {
      .hover\:#{$name}-#{$k}:hover {
        #{$prop}: $v;
      }
    }
  }
}

// focus
@each $name, $map in $colors {
  $prop: map-get($map, 'prop');
  $values: map-get($map, 'values');

  @each $k, $v in $values {
    @if ($k == 'default') {
      .focus\:#{$name}:focus {
        #{$prop}: $v;
      }
    } @else {
      .focus\:#{$name}-#{$k}:focus {
        #{$prop}: $v;
      }
    }
  }
}

// active
@each $name, $map in $colors {
  $prop: map-get($map, 'prop');
  $values: map-get($map, 'values');

  @each $k, $v in $values {
    @if ($k == 'default') {
      .active\:#{$name}:active {
        #{$prop}: $v;
      }
    } @else {
      .active\:#{$name}-#{$k}:active {
        #{$prop}: $v;
      }
    }
  }
}

// breakpoints
// extra small
@each $name, $map in $colors {
  $prop: map-get($map, 'prop');
  $values: map-get($map, 'values');

  @each $k, $v in $values {
    @if ($k == 'default') {
      .xs\:#{$name} {
        @include xs {
          #{$prop}: $v;
        }
      }
    } @else {
      .xs\:#{$name}-#{$k} {
        @include xs {
          #{$prop}: $v;
        }
      }
    }
  }
}

// small
@each $name, $map in $colors {
  $prop: map-get($map, 'prop');
  $values: map-get($map, 'values');

  @each $k, $v in $values {
    @if ($k == 'default') {
      .sm\:#{$name} {
        @include sm {
          #{$prop}: $v;
        }
      }
    } @else {
      .sm\:#{$name}-#{$k} {
        @include sm {
          #{$prop}: $v;
        }
      }
    }
  }
}

// medium
@each $name, $map in $colors {
  $prop: map-get($map, 'prop');
  $values: map-get($map, 'values');

  @each $k, $v in $values {
    @if ($k == 'default') {
      .md\:#{$name} {
        @include md {
          #{$prop}: $v;
        }
      }
    } @else {
      .md\:#{$name}-#{$k} {
        @include md {
          #{$prop}: $v;
        }
      }
    }
  }
}

// large
@each $name, $map in $colors {
  $prop: map-get($map, 'prop');
  $values: map-get($map, 'values');

  @each $k, $v in $values {
    @if ($k == 'default') {
      .lg\:#{$name} {
        @include lg {
          #{$prop}: $v;
        }
      }
    } @else {
      .lg\:#{$name}-#{$k} {
        @include lg {
          #{$prop}: $v;
        }
      }
    }
  }
}

// extra large
@each $name, $map in $colors {
  $prop: map-get($map, 'prop');
  $values: map-get($map, 'values');

  @each $k, $v in $values {
    @if ($k == 'default') {
      .xl\:#{$name} {
        @include xl {
          #{$prop}: $v;
        }
      }
    } @else {
      .xl\:#{$name}-#{$k} {
        @include xl {
          #{$prop}: $v;
        }
      }
    }
  }
}
