@use '../utils' as u;

body {
  background-color: u.$primary;
  color: u.$textcolor;
}

.logo {
  margin-block: 1em 2em;
}

.description {
  width: 70%;
  text-align: center;
  margin-top: 1em;
}

.about--title {
  @include u.text-style(1rem, u.$bold, center);
  margin-top: 1.5em;
}

.folder--structure {
  font-size: .85rem;
  margin-block: 0.5em 1em;

  li {
    margin-block: 0.5em;
  }
}

.tools--title {
  @include u.text-style(1rem, u.$bold, center);
}

.tools {
  color: u.$secondary;
  font-size: 0.75rem;
  text-decoration: underline;

  &:hover {
    color: u.$textcolor;
  }
}

.tips--title {
  @include u.text-style(1rem, u.$bold, center);
  margin-block: 1em;
}

.tips--list {
  
  li {
    list-style-type: disc;
  }
}

.next--title {
  @include u.text-style(1rem, u.$bold, center);
  margin-top: 1em;
}

.next--steps {
  width: 90%;
  margin-top: 1em;
}