// Base values //

//padding
$base-padding: 0.125em;

// margin
$base-margin: 0.125rem;

// font
$base-font: 1rem;

// width / height, gap, flex basis & top/bottom/left/right
$base-rem: 0.125rem;

// opacity
$base-opacity: 0.1;

// border-radius
$base-border-radius: 5px;

// border-width
$base-border-width: 1px;
