:root {
  --c-white: #fff;
  --c-white-dark: #f8f8f8;
  --c-black: #000000;

  --c-divider-light: rgba(60, 60, 67, 0.12);
  --c-divider-dark: rgba(84, 84, 88, 0.48);

  --c-text-light-1: #2c3e50;
  --c-text-light-2: #476582;
  --c-text-light-3: #90a4b7;

  --c-brand: #fdc71a;
  --c-brand-light: #fdc71a;
}

/* table { */
/* height: 350px; */
/* border: solid #222 2px; */
/* border-radius: 5px; */
/* box-shadow: inset 2px 2px red; */
/* } */

table {
  height: 350px;
  /* width: 800px; */
}

tbody {
  overflow-y: scroll;
}

td {
  color: #222;
  background-color: #fff;
  width: 100vw;
  font-size: 0.85rem;
}

.h-auto {
  height: auto;
}

.table-head {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.font-bld {
  font-weight: bold;
}
