@use './utils' as *;

$sizing-spacing: (
  'padding': (
    'prefix': 'p',
    'values': (
      '0': 0,
      '0#{\.}5': calc($base-padding / 2),
      '1': $base-padding,
      '1#{\.}5': $base-padding * 2,
      '2': $base-padding * 3,
      '2#{\.}5': $base-padding * 4,
      '3': $base-padding * 5,
      '3#{\.}5': $base-padding * 6,
      '4': $base-padding * 7,
      '5': $base-padding * 8,
      '6': $base-padding * 10,
      '7': $base-padding * 12,
      '8': $base-padding * 14,
      '9': $base-padding * 16,
      '10': $base-padding * 18,
      '11': $base-padding * 20,
      '12': $base-padding * 22,
      '14': $base-padding * 24,
      '16': $base-padding * 26,
      '20': $base-padding * 28,
      '24': $base-padding * 30,
      '28': $base-padding * 32,
      '32': $base-padding * 40,
      '36': $base-padding * 48,
      '40': $base-padding * 56,
      '44': $base-padding * 64,
      '48': $base-padding * 72,
      '52': $base-padding * 80,
      '56': $base-padding * 88,
      '60': $base-padding * 96,
      '64': $base-padding * 104,
      '72': $base-padding * 112,
      '80': $base-padding * 120,
      '88': $base-padding * 128,
      '96': $base-padding * 144,
      '104': $base-padding * 160,
      '112': $base-padding * 176,
      '120': $base-padding * 192,
      '128': $base-padding * 208,
      '136': $base-padding * 224,
      '144': $base-padding * 240,
      '152': $base-padding * 256,
    ),
  ),
  'padding-left': (
    'prefix': 'pl',
    'values': (
      '0': 0,
      '0#{\.}5': calc($base-padding / 2),
      '1': $base-padding,
      '1#{\.}5': $base-padding * 2,
      '2': $base-padding * 3,
      '2#{\.}5': $base-padding * 4,
      '3': $base-padding * 5,
      '3#{\.}5': $base-padding * 6,
      '4': $base-padding * 7,
      '5': $base-padding * 8,
      '6': $base-padding * 10,
      '7': $base-padding * 12,
      '8': $base-padding * 14,
      '9': $base-padding * 16,
      '10': $base-padding * 18,
      '11': $base-padding * 20,
      '12': $base-padding * 22,
      '14': $base-padding * 24,
      '16': $base-padding * 26,
      '20': $base-padding * 28,
      '24': $base-padding * 30,
      '28': $base-padding * 32,
      '32': $base-padding * 40,
      '36': $base-padding * 48,
      '40': $base-padding * 56,
      '44': $base-padding * 64,
      '48': $base-padding * 72,
      '52': $base-padding * 80,
      '56': $base-padding * 88,
      '60': $base-padding * 96,
      '64': $base-padding * 104,
      '72': $base-padding * 112,
      '80': $base-padding * 120,
      '88': $base-padding * 128,
      '96': $base-padding * 144,
      '104': $base-padding * 160,
      '112': $base-padding * 176,
      '120': $base-padding * 192,
      '128': $base-padding * 208,
      '136': $base-padding * 224,
      '144': $base-padding * 240,
      '152': $base-padding * 256,
    ),
  ),
  'padding-right': (
    'prefix': 'pr',
    'values': (
      '0': 0,
      '0#{\.}5': calc($base-padding / 2),
      '1': $base-padding,
      '1#{\.}5': $base-padding * 2,
      '2': $base-padding * 3,
      '2#{\.}5': $base-padding * 4,
      '3': $base-padding * 5,
      '3#{\.}5': $base-padding * 6,
      '4': $base-padding * 7,
      '5': $base-padding * 8,
      '6': $base-padding * 10,
      '7': $base-padding * 12,
      '8': $base-padding * 14,
      '9': $base-padding * 16,
      '10': $base-padding * 18,
      '11': $base-padding * 20,
      '12': $base-padding * 22,
      '14': $base-padding * 24,
      '16': $base-padding * 26,
      '20': $base-padding * 28,
      '24': $base-padding * 30,
      '28': $base-padding * 32,
      '32': $base-padding * 40,
      '36': $base-padding * 48,
      '40': $base-padding * 56,
      '44': $base-padding * 64,
      '48': $base-padding * 72,
      '52': $base-padding * 80,
      '56': $base-padding * 88,
      '60': $base-padding * 96,
      '64': $base-padding * 104,
      '72': $base-padding * 112,
      '80': $base-padding * 120,
      '88': $base-padding * 128,
      '96': $base-padding * 144,
      '104': $base-padding * 160,
      '112': $base-padding * 176,
      '120': $base-padding * 192,
      '128': $base-padding * 208,
      '136': $base-padding * 224,
      '144': $base-padding * 240,
      '152': $base-padding * 256,
    ),
  ),
  'padding-top': (
    'prefix': 'pt',
    'values': (
      '0': 0,
      '0#{\.}5': calc($base-padding / 2),
      '1': $base-padding,
      '1#{\.}5': $base-padding * 2,
      '2': $base-padding * 3,
      '2#{\.}5': $base-padding * 4,
      '3': $base-padding * 5,
      '3#{\.}5': $base-padding * 6,
      '4': $base-padding * 7,
      '5': $base-padding * 8,
      '6': $base-padding * 10,
      '7': $base-padding * 12,
      '8': $base-padding * 14,
      '9': $base-padding * 16,
      '10': $base-padding * 18,
      '11': $base-padding * 20,
      '12': $base-padding * 22,
      '14': $base-padding * 24,
      '16': $base-padding * 26,
      '20': $base-padding * 28,
      '24': $base-padding * 30,
      '28': $base-padding * 32,
      '32': $base-padding * 40,
      '36': $base-padding * 48,
      '40': $base-padding * 56,
      '44': $base-padding * 64,
      '48': $base-padding * 72,
      '52': $base-padding * 80,
      '56': $base-padding * 88,
      '60': $base-padding * 96,
      '64': $base-padding * 104,
      '72': $base-padding * 112,
      '80': $base-padding * 120,
      '88': $base-padding * 128,
      '96': $base-padding * 144,
      '104': $base-padding * 160,
      '112': $base-padding * 176,
      '120': $base-padding * 192,
      '128': $base-padding * 208,
      '136': $base-padding * 224,
      '144': $base-padding * 240,
      '152': $base-padding * 256,
    ),
  ),
  'padding-bottom': (
    'prefix': 'pb',
    'values': (
      '0': 0,
      '0#{\.}5': calc($base-padding / 2),
      '1': $base-padding,
      '1#{\.}5': $base-padding * 2,
      '2': $base-padding * 3,
      '2#{\.}5': $base-padding * 4,
      '3': $base-padding * 5,
      '3#{\.}5': $base-padding * 6,
      '4': $base-padding * 7,
      '5': $base-padding * 8,
      '6': $base-padding * 10,
      '7': $base-padding * 12,
      '8': $base-padding * 14,
      '9': $base-padding * 16,
      '10': $base-padding * 18,
      '11': $base-padding * 20,
      '12': $base-padding * 22,
      '14': $base-padding * 24,
      '16': $base-padding * 26,
      '20': $base-padding * 28,
      '24': $base-padding * 30,
      '28': $base-padding * 32,
      '32': $base-padding * 40,
      '36': $base-padding * 48,
      '40': $base-padding * 56,
      '44': $base-padding * 64,
      '48': $base-padding * 72,
      '52': $base-padding * 80,
      '56': $base-padding * 88,
      '60': $base-padding * 96,
      '64': $base-padding * 104,
      '72': $base-padding * 112,
      '80': $base-padding * 120,
      '88': $base-padding * 128,
      '96': $base-padding * 144,
      '104': $base-padding * 160,
      '112': $base-padding * 176,
      '120': $base-padding * 192,
      '128': $base-padding * 208,
      '136': $base-padding * 224,
      '144': $base-padding * 240,
      '152': $base-padding * 256,
    ),
  ),
  'padding-block': (
    'prefix': 'py',
    'values': (
      '0': 0,
      '0#{\.}5': calc($base-padding / 2),
      '1': $base-padding,
      '1#{\.}5': $base-padding * 2,
      '2': $base-padding * 3,
      '2#{\.}5': $base-padding * 4,
      '3': $base-padding * 5,
      '3#{\.}5': $base-padding * 6,
      '4': $base-padding * 7,
      '5': $base-padding * 8,
      '6': $base-padding * 10,
      '7': $base-padding * 12,
      '8': $base-padding * 14,
      '9': $base-padding * 16,
      '10': $base-padding * 18,
      '11': $base-padding * 20,
      '12': $base-padding * 22,
      '14': $base-padding * 24,
      '16': $base-padding * 26,
      '20': $base-padding * 28,
      '24': $base-padding * 30,
      '28': $base-padding * 32,
      '32': $base-padding * 40,
      '36': $base-padding * 48,
      '40': $base-padding * 56,
      '44': $base-padding * 64,
      '48': $base-padding * 72,
      '52': $base-padding * 80,
      '56': $base-padding * 88,
      '60': $base-padding * 96,
      '64': $base-padding * 104,
      '72': $base-padding * 112,
      '80': $base-padding * 120,
      '88': $base-padding * 128,
      '96': $base-padding * 144,
      '104': $base-padding * 160,
      '112': $base-padding * 176,
      '120': $base-padding * 192,
      '128': $base-padding * 208,
      '136': $base-padding * 224,
      '144': $base-padding * 240,
      '152': $base-padding * 256,
    ),
  ),
  'margin': (
    'prefix': 'm',
    'values': (
      '0': 0,
      '0#{\.}5': calc($base-margin / 2),
      '1': $base-margin,
      '1#{\.}5': $base-margin * 2,
      '2': $base-margin * 3,
      '2#{\.}5': $base-margin * 4,
      '3': $base-margin * 5,
      '3#{\.}5': $base-margin * 6,
      '4': $base-margin * 7,
      '5': $base-margin * 8,
      '6': $base-margin * 10,
      '7': $base-margin * 12,
      '8': $base-margin * 14,
      '9': $base-margin * 16,
      '10': $base-margin * 18,
      '11': $base-margin * 20,
      '12': $base-margin * 22,
      '14': $base-margin * 24,
      '16': $base-margin * 26,
      '20': $base-margin * 28,
      '24': $base-margin * 30,
      '28': $base-margin * 32,
      '32': $base-margin * 40,
      '36': $base-margin * 48,
      '40': $base-margin * 56,
      '44': $base-margin * 64,
      '48': $base-margin * 72,
      '52': $base-margin * 80,
      '56': $base-margin * 88,
      '60': $base-margin * 96,
      '64': $base-margin * 104,
      '72': $base-margin * 112,
      '80': $base-margin * 120,
      '88': $base-margin * 128,
      '96': $base-margin * 144,
      '104': $base-margin * 160,
      '112': $base-margin * 176,
      '120': $base-margin * 192,
      '128': $base-margin * 208,
      '136': $base-margin * 224,
      '144': $base-margin * 240,
      '152': $base-margin * 256,
      'auto': auto,
    ),
  ),
  'margin-left': (
    'prefix': 'ml',
    'values': (
      '0': 0,
      '0#{\.}5': calc($base-margin / 2),
      '1': $base-margin,
      '1#{\.}5': $base-margin * 2,
      '2': $base-margin * 3,
      '2#{\.}5': $base-margin * 4,
      '3': $base-margin * 5,
      '3#{\.}5': $base-margin * 6,
      '4': $base-margin * 7,
      '5': $base-margin * 8,
      '6': $base-margin * 10,
      '7': $base-margin * 12,
      '8': $base-margin * 14,
      '9': $base-margin * 16,
      '10': $base-margin * 18,
      '11': $base-margin * 20,
      '12': $base-margin * 22,
      '14': $base-margin * 24,
      '16': $base-margin * 26,
      '20': $base-margin * 28,
      '24': $base-margin * 30,
      '28': $base-margin * 32,
      '32': $base-margin * 40,
      '36': $base-margin * 48,
      '40': $base-margin * 56,
      '44': $base-margin * 64,
      '48': $base-margin * 72,
      '52': $base-margin * 80,
      '56': $base-margin * 88,
      '60': $base-margin * 96,
      '64': $base-margin * 104,
      '72': $base-margin * 112,
      '80': $base-margin * 120,
      '88': $base-margin * 128,
      '96': $base-margin * 144,
      '104': $base-margin * 160,
      '112': $base-margin * 176,
      '120': $base-margin * 192,
      '128': $base-margin * 208,
      '136': $base-margin * 224,
      '144': $base-margin * 240,
      '152': $base-margin * 256,
      'auto': auto,
    ),
  ),
  'margin-right': (
    'prefix': 'mr',
    'values': (
      '0': 0,
      '0#{\.}5': calc($base-margin / 2),
      '1': $base-margin,
      '1#{\.}5': $base-margin * 2,
      '2': $base-margin * 3,
      '2#{\.}5': $base-margin * 4,
      '3': $base-margin * 5,
      '3#{\.}5': $base-margin * 6,
      '4': $base-margin * 7,
      '5': $base-margin * 8,
      '6': $base-margin * 10,
      '7': $base-margin * 12,
      '8': $base-margin * 14,
      '9': $base-margin * 16,
      '10': $base-margin * 18,
      '11': $base-margin * 20,
      '12': $base-margin * 22,
      '14': $base-margin * 24,
      '16': $base-margin * 26,
      '20': $base-margin * 28,
      '24': $base-margin * 30,
      '28': $base-margin * 32,
      '32': $base-margin * 40,
      '36': $base-margin * 48,
      '40': $base-margin * 56,
      '44': $base-margin * 64,
      '48': $base-margin * 72,
      '52': $base-margin * 80,
      '56': $base-margin * 88,
      '60': $base-margin * 96,
      '64': $base-margin * 104,
      '72': $base-margin * 112,
      '80': $base-margin * 120,
      '88': $base-margin * 128,
      '96': $base-margin * 144,
      '104': $base-margin * 160,
      '112': $base-margin * 176,
      '120': $base-margin * 192,
      '128': $base-margin * 208,
      '136': $base-margin * 224,
      '144': $base-margin * 240,
      '152': $base-margin * 256,
      'auto': auto,
    ),
  ),
  'margin-top': (
    'prefix': 'mt',
    'values': (
      '0': 0,
      '0#{\.}5': calc($base-margin / 2),
      '1': $base-margin,
      '1#{\.}5': $base-margin * 2,
      '2': $base-margin * 3,
      '2#{\.}5': $base-margin * 4,
      '3': $base-margin * 5,
      '3#{\.}5': $base-margin * 6,
      '4': $base-margin * 7,
      '5': $base-margin * 8,
      '6': $base-margin * 10,
      '7': $base-margin * 12,
      '8': $base-margin * 14,
      '9': $base-margin * 16,
      '10': $base-margin * 18,
      '11': $base-margin * 20,
      '12': $base-margin * 22,
      '14': $base-margin * 24,
      '16': $base-margin * 26,
      '20': $base-margin * 28,
      '24': $base-margin * 30,
      '28': $base-margin * 32,
      '32': $base-margin * 40,
      '36': $base-margin * 48,
      '40': $base-margin * 56,
      '44': $base-margin * 64,
      '48': $base-margin * 72,
      '52': $base-margin * 80,
      '56': $base-margin * 88,
      '60': $base-margin * 96,
      '64': $base-margin * 104,
      '72': $base-margin * 112,
      '80': $base-margin * 120,
      '88': $base-margin * 128,
      '96': $base-margin * 144,
      '104': $base-margin * 160,
      '112': $base-margin * 176,
      '120': $base-margin * 192,
      '128': $base-margin * 208,
      '136': $base-margin * 224,
      '144': $base-margin * 240,
      '152': $base-margin * 256,
      'auto': auto,
    ),
  ),
  'margin-bottom': (
    'prefix': 'mb',
    'values': (
      '0': 0,
      '0#{\.}5': calc($base-margin / 2),
      '1': $base-margin,
      '1#{\.}5': $base-margin * 2,
      '2': $base-margin * 3,
      '2#{\.}5': $base-margin * 4,
      '3': $base-margin * 5,
      '3#{\.}5': $base-margin * 6,
      '4': $base-margin * 7,
      '5': $base-margin * 8,
      '6': $base-margin * 10,
      '7': $base-margin * 12,
      '8': $base-margin * 14,
      '9': $base-margin * 16,
      '10': $base-margin * 18,
      '11': $base-margin * 20,
      '12': $base-margin * 22,
      '14': $base-margin * 24,
      '16': $base-margin * 26,
      '20': $base-margin * 28,
      '24': $base-margin * 30,
      '28': $base-margin * 32,
      '32': $base-margin * 40,
      '36': $base-margin * 48,
      '40': $base-margin * 56,
      '44': $base-margin * 64,
      '48': $base-margin * 72,
      '52': $base-margin * 80,
      '56': $base-margin * 88,
      '60': $base-margin * 96,
      '64': $base-margin * 104,
      '72': $base-margin * 112,
      '80': $base-margin * 120,
      '88': $base-margin * 128,
      '96': $base-margin * 144,
      '104': $base-margin * 160,
      '112': $base-margin * 176,
      '120': $base-margin * 192,
      '128': $base-margin * 208,
      '136': $base-margin * 224,
      '144': $base-margin * 240,
      '152': $base-margin * 256,
      'auto': auto,
    ),
  ),
  'margin-block': (
    'prefix': 'my',
    'values': (
      '0': 0,
      '0#{\.}5': calc($base-margin / 2),
      '1': $base-margin,
      '1#{\.}5': $base-margin * 2,
      '2': $base-margin * 3,
      '2#{\.}5': $base-margin * 4,
      '3': $base-margin * 5,
      '3#{\.}5': $base-margin * 6,
      '4': $base-margin * 7,
      '5': $base-margin * 8,
      '6': $base-margin * 10,
      '7': $base-margin * 12,
      '8': $base-margin * 14,
      '9': $base-margin * 16,
      '10': $base-margin * 18,
      '11': $base-margin * 20,
      '12': $base-margin * 22,
      '14': $base-margin * 24,
      '16': $base-margin * 26,
      '20': $base-margin * 28,
      '24': $base-margin * 30,
      '28': $base-margin * 32,
      '32': $base-margin * 40,
      '36': $base-margin * 48,
      '40': $base-margin * 56,
      '44': $base-margin * 64,
      '48': $base-margin * 72,
      '52': $base-margin * 80,
      '56': $base-margin * 88,
      '60': $base-margin * 96,
      '64': $base-margin * 104,
      '72': $base-margin * 112,
      '80': $base-margin * 120,
      '88': $base-margin * 128,
      '96': $base-margin * 144,
      '104': $base-margin * 160,
      '112': $base-margin * 176,
      '120': $base-margin * 192,
      '128': $base-margin * 208,
      '136': $base-margin * 224,
      '144': $base-margin * 240,
      '152': $base-margin * 256,
      'auto': auto,
    ),
  ),
  'font-size': (
    'prefix': 'font',
    'values': (
      'xs': calc($base-font / 2),
      'sm': 0.75rem,
      'base': $base-font,
      'md': $base-font * 1.25,
      'lg': $base-font * 1.5,
      'xl': $base-font * 2,
      '2xl': $base-font * 2.5,
      '3xl': $base-font * 3,
      '4xl': $base-font * 4,
      '5xl': $base-font * 5,
      '6xl': $base-font * 6,
      '7xl': $base-font * 7,
      '8xl': $base-font * 8,
    ),
  ),
  'font-weight': (
    'prefix': 'font',
    'values': (
      'reg': 400,
      'med': 500,
      'bld': 700,
    ),
  ),
  'text-align': (
    'prefix': 'text',
    'values': (
      'left': left,
      'center': center,
      'right': right,
    ),
  ),
  'outline': (
    'prefix': 'outline',
    'values': (
      'none': none,
    ),
  ),
  'outline-width': (
    'prefix': 'outline',
    'values': (
      '0': 0,
      '1': $base-border-width,
      '2': $base-border-width * 2,
      '4': $base-border-width * 4,
      '6': $base-border-width * 6,
      '8': $base-border-width * 8,
      'thin': thin,
      'medium': medium,
      'thick': thick,
    ),
  ),
  'outline-style': (
    'prefix': 'outline-style',
    'values': (
      'auto': auto,
      'none': none,
      'dotted': dotted,
      'dashed': dashed,
      'solid': solid,
      'double': double,
      'groove': groove,
      'ridge': ridge,
      'inset': inset,
      'outset': outset,
      'inherit': inherit,
      'initial': initial,
      'revert': revert,
      'unset': unset,
    ),
  ),
  'border': (
    'prefix': 'border',
    'values': (
      'none': none,
    ),
  ),
  'border-radius': (
    'prefix': 'border-radius',
    'values': (
      'default': $base-border-radius,
      'medium': $base-border-radius * 2,
      'full': 50%,
    ),
  ),
  'border-width': (
    'prefix': 'border',
    'values': (
      '0': 0,
      '1': $base-border-width,
      '2': $base-border-width * 2,
      '4': $base-border-width * 4,
      '6': $base-border-width * 6,
      '8': $base-border-width * 8,
      'thin': thin,
      'medium': medium,
      'thick': thick,
    ),
  ),
  'border-top-width': (
    'prefix': 'border-t',
    'values': (
      '0': 0,
      '1': $base-border-width,
      '2': $base-border-width * 2,
      '4': $base-border-width * 4,
      '6': $base-border-width * 6,
      '8': $base-border-width * 8,
      'thin': thin,
      'medium': medium,
      'thick': thick,
    ),
  ),
  'border-bottom-width': (
    'prefix': 'border-b',
    'values': (
      '0': 0,
      '1': $base-border-width,
      '2': $base-border-width * 2,
      '4': $base-border-width * 4,
      '6': $base-border-width * 6,
      '8': $base-border-width * 8,
      'thin': thin,
      'medium': medium,
      'thick': thick,
    ),
  ),
  'border-left-width': (
    'prefix': 'border-l',
    'values': (
      '0': 0,
      '1': $base-border-width,
      '2': $base-border-width * 2,
      '4': $base-border-width * 4,
      '6': $base-border-width * 6,
      '8': $base-border-width * 8,
      'thin': thin,
      'medium': medium,
      'thick': thick,
    ),
  ),
  'border-right-width': (
    'prefix': 'border-r',
    'values': (
      '0': 0,
      '1': $base-border-width,
      '2': $base-border-width * 2,
      '4': $base-border-width * 4,
      '6': $base-border-width * 6,
      '8': $base-border-width * 8,
      'thin': thin,
      'medium': medium,
      'thick': thick,
    ),
  ),
  'border-style': (
    'prefix': 'border-style',
    'values': (
      'none': none,
      'hidden': hidden,
      'dotted': dotted,
      'dashed': dashed,
      'solid': solid,
      'double': double,
      'groove': groove,
      'ridge': ridge,
      'inset': inset,
      'outset': outset,
      'inherit': inherit,
      'initial': initial,
    ),
  ),
  'box-sizing': (
    'prefix': 'box',
    'values': (
      'border': border-box,
      'content': content-box,
    ),
  ),
  'float': (
    'prefix': 'float',
    'values': (
      'right': right,
      'left': left,
      'none': none,
    ),
  ),
  'justify-content': (
    'prefix': 'justify',
    'values': (
      'center': center,
      'start': flex-start,
      'end': flex-end,
      'between': space-between,
      'around': space-around,
      'evenly': space-evenly,
    ),
  ),
  'justify-items': (
    'prefix': 'justify-items',
    'values': (
      'center': center,
      'start': start,
      'end': end,
      'stretch': stretch,
    ),
  ),
  'justify-self': (
    'prefix': 'justify-self',
    'values': (
      'auto': auto,
      'center': center,
      'start': start,
      'end': end,
      'stretch': stretch,
    ),
  ),
  'align-items': (
    'prefix': 'align-items',
    'values': (
      'center': center,
      'start': flex-start,
      'end': flex-end,
      'baseline': baseline,
      'stretch': stretch,
    ),
  ),
  'align-self': (
    'prefix': 'align-self',
    'values': (
      'auto': auto,
      'center': center,
      'start': flex-start,
      'end': flex-end,
      'baseline': baseline,
      'stretch': stretch,
    ),
  ),
  'align-content': (
    'prefix': 'align-content',
    'values': (
      'center': center,
      'start': flex-start,
      'end': flex-end,
      'between': space-between,
      'evenly': space-evenly,
      'around': space-around,
    ),
  ),
  'flex-direction': (
    'prefix': 'flex',
    'values': (
      'col': column,
      'col\-rev': column-reverse,
      'row': row,
      'row\-rev': row-reverse,
    ),
  ),
  'flex-basis': (
    'prefix': 'basis',
    'values': (
      '0': 0,
      'auto': auto,
      '0#{\.}5': calc($base-rem / 2),
      '1': $base-rem,
      '1#{\.}5': $base-rem * 2,
      '2': $base-rem * 3,
      '2#{\.}5': $base-rem * 4,
      '3': $base-rem * 5,
      '3#{\.}5': $base-rem * 6,
      '4': $base-rem * 7,
      '5': $base-rem * 8,
      '6': $base-rem * 10,
      '7': $base-rem * 12,
      '8': $base-rem * 14,
      '9': $base-rem * 16,
      '10': $base-rem * 18,
      '11': $base-rem * 20,
      '12': $base-rem * 22,
      '14': $base-rem * 24,
      '16': $base-rem * 26,
      '20': $base-rem * 28,
      '24': $base-rem * 30,
      '28': $base-rem * 32,
      '32': $base-rem * 40,
      '36': $base-rem * 48,
      '40': $base-rem * 56,
      '44': $base-rem * 64,
      '48': $base-rem * 72,
      '52': $base-rem * 80,
      '56': $base-rem * 88,
      '60': $base-rem * 96,
      '64': $base-rem * 104,
      '72': $base-rem * 112,
      '80': $base-rem * 120,
      '88': $base-rem * 128,
      '96': $base-rem * 144,
      '104': $base-rem * 160,
      '112': $base-rem * 176,
      '120': $base-rem * 192,
      '128': $base-rem * 208,
      '136': $base-rem * 224,
      '144': $base-rem * 240,
      '152': $base-rem * 256,
      '1#{\/}2': calc((1 / 2) * 100%),
      '1#{\/}3': calc((1 / 3) * 100%),
      '2#{\/}3': calc((2 / 3) * 100%),
      '1#{\/}4': calc((1 / 4) * 100%),
      '2#{\/}4': calc((2 / 4) * 100%),
      '3#{\/}4': calc((3 / 4) * 100%),
      '1#{\/}5': calc((1 / 5) * 100%),
      '2#{\/}5': calc((2 / 5) * 100%),
      '3#{\/}5': calc((3 / 5) * 100%),
      '4#{\/}5': calc((4 / 5) * 100%),
      '1#{\/}6': calc((1 / 6) * 100%),
      '2#{\/}6': calc((2 / 6) * 100%),
      '3#{\/}6': calc((3 / 6) * 100%),
      '4#{\/}6': calc((4 / 6) * 100%),
      '5#{\/}6': calc((5 / 6) * 100%),
      'full': 100%,
    ),
  ),
  'flex-wrap': (
    'prefix': 'flex',
    'values': (
      'wrap': wrap,
      'wrap\-reverse': wrap-reverse,
      'nowrap': nowrap,
    ),
  ),
  'flex': (
    'prefix': 'flex',
    'values': (
      '1': 1,
      'auto': auto,
      'initial': initial,
      'none': none,
    ),
  ),
  'flex-grow': (
    'prefix': 'grow',
    'values': (
      'default': 1,
      '0': 0,
    ),
  ),
  'flex-shrink': (
    'prefix': 'shrink',
    'values': (
      'default': 1,
      '0': 0,
    ),
  ),
  'order': (
    'prefix': 'order',
    'values': (
      'none': none,
      'first': -9999,
      'last': 9999,
      '1': 1,
      '2': 2,
      '3': 3,
      '4': 4,
      '5': 5,
      '6': 6,
      '7': 7,
      '8': 8,
      '9': 9,
      '10': 10,
      '11': 11,
      '12': 12,
    ),
  ),
  'aspect-ratio': (
    'prefix': 'aspect',
    'values': (
      'auto': auto,
      'square': #{'1/1'},
      'video': #{'16/9'},
    ),
  ),
  'width': (
    'prefix': 'w',
    'values': (
      '0': 0,
      '0#{\.}5': calc($base-rem / 2),
      '1': $base-rem,
      '1#{\.}5': $base-rem * 2,
      '2': $base-rem * 3,
      '2#{\.}5': $base-rem * 4,
      '3': $base-rem * 5,
      '3#{\.}5': $base-rem * 6,
      '4': $base-rem * 7,
      '5': $base-rem * 8,
      '6': $base-rem * 10,
      '7': $base-rem * 12,
      '8': $base-rem * 14,
      '9': $base-rem * 16,
      '10': $base-rem * 18,
      '11': $base-rem * 20,
      '12': $base-rem * 22,
      '14': $base-rem * 24,
      '16': $base-rem * 26,
      '20': $base-rem * 28,
      '24': $base-rem * 30,
      '28': $base-rem * 32,
      '32': $base-rem * 40,
      '36': $base-rem * 48,
      '40': $base-rem * 56,
      '44': $base-rem * 64,
      '48': $base-rem * 72,
      '52': $base-rem * 80,
      '56': $base-rem * 88,
      '60': $base-rem * 96,
      '64': $base-rem * 104,
      '72': $base-rem * 112,
      '80': $base-rem * 120,
      '88': $base-rem * 128,
      '96': $base-rem * 144,
      '104': $base-rem * 160,
      '112': $base-rem * 176,
      '120': $base-rem * 192,
      '128': $base-rem * 208,
      '136': $base-rem * 224,
      '144': $base-rem * 240,
      '152': $base-rem * 256,
      '1#{\/}2': calc((1 / 2) * 100%),
      '1#{\/}3': calc((1 / 3) * 100%),
      '2#{\/}3': calc((2 / 3) * 100%),
      '1#{\/}4': calc((1 / 4) * 100%),
      '2#{\/}4': calc((2 / 4) * 100%),
      '3#{\/}4': calc((3 / 4) * 100%),
      '1#{\/}5': calc((1 / 5) * 100%),
      '2#{\/}5': calc((2 / 5) * 100%),
      '3#{\/}5': calc((3 / 5) * 100%),
      '4#{\/}5': calc((4 / 5) * 100%),
      '1#{\/}6': calc((1 / 6) * 100%),
      '2#{\/}6': calc((2 / 6) * 100%),
      '3#{\/}6': calc((3 / 6) * 100%),
      '4#{\/}6': calc((4 / 6) * 100%),
      '5#{\/}6': calc((5 / 6) * 100%),
      'full': 100%,
      'screen': 100vw,
      'max': max-content,
      'min': min-content,
      'fit': fit-content,
      'auto': auto,
    ),
  ),
  'max-width': (
    'prefix': 'max-w',
    'values': (
      '0': 0,
      'none': none,
      'xs': 375px,
      'sm': 425px,
      'md': 768px,
      'lg': 1024px,
      'xl': 1440px,
      '1#{\/}2': calc((1 / 2) * 100%),
      '1#{\/}3': calc((1 / 3) * 100%),
      '2#{\/}3': calc((2 / 3) * 100%),
      '1#{\/}4': calc((1 / 4) * 100%),
      '2#{\/}4': calc((2 / 4) * 100%),
      '3#{\/}4': calc((3 / 4) * 100%),
      '1#{\/}5': calc((1 / 5) * 100%),
      '2#{\/}5': calc((2 / 5) * 100%),
      '3#{\/}5': calc((3 / 5) * 100%),
      '4#{\/}5': calc((4 / 5) * 100%),
      '1#{\/}6': calc((1 / 6) * 100%),
      '2#{\/}6': calc((2 / 6) * 100%),
      '3#{\/}6': calc((3 / 6) * 100%),
      '4#{\/}6': calc((4 / 6) * 100%),
      '5#{\/}6': calc((5 / 6) * 100%),
      'full': 100%,
      'screen': 100vw,
      'max': max-content,
      'min': min-content,
      'fit': fit-content,
    ),
  ),
  'min-width': (
    'prefix': 'min-w',
    'values': (
      '0': 0,
      'full': 100%,
      'screen': 100vw,
      'max': max-content,
      'min': min-content,
      'fit': fit-content,
    ),
  ),
  'height': (
    'prefix': 'h',
    'values': (
      '0': 0,
      '0#{\.}5': calc($base-rem / 2),
      '1': $base-rem,
      '1#{\.}5': $base-rem * 2,
      '2': $base-rem * 3,
      '2#{\.}5': $base-rem * 4,
      '3': $base-rem * 5,
      '3#{\.}5': $base-rem * 6,
      '4': $base-rem * 7,
      '5': $base-rem * 8,
      '6': $base-rem * 10,
      '7': $base-rem * 12,
      '8': $base-rem * 14,
      '9': $base-rem * 16,
      '10': $base-rem * 18,
      '11': $base-rem * 20,
      '12': $base-rem * 22,
      '14': $base-rem * 24,
      '16': $base-rem * 26,
      '20': $base-rem * 28,
      '24': $base-rem * 30,
      '28': $base-rem * 32,
      '32': $base-rem * 40,
      '36': $base-rem * 48,
      '40': $base-rem * 56,
      '44': $base-rem * 64,
      '48': $base-rem * 72,
      '52': $base-rem * 80,
      '56': $base-rem * 88,
      '60': $base-rem * 96,
      '64': $base-rem * 104,
      '72': $base-rem * 112,
      '80': $base-rem * 120,
      '88': $base-rem * 128,
      '96': $base-rem * 144,
      '104': $base-rem * 160,
      '112': $base-rem * 176,
      '120': $base-rem * 192,
      '128': $base-rem * 208,
      '136': $base-rem * 224,
      '144': $base-rem * 240,
      '152': $base-rem * 256,
      '1#{\/}2': calc((1 / 2) * 100%),
      '1#{\/}3': calc((1 / 3) * 100%),
      '2#{\/}3': calc((2 / 3) * 100%),
      '1#{\/}4': calc((1 / 4) * 100%),
      '2#{\/}4': calc((2 / 4) * 100%),
      '3#{\/}4': calc((3 / 4) * 100%),
      '1#{\/}5': calc((1 / 5) * 100%),
      '2#{\/}5': calc((2 / 5) * 100%),
      '3#{\/}5': calc((3 / 5) * 100%),
      '4#{\/}5': calc((4 / 5) * 100%),
      '1#{\/}6': calc((1 / 6) * 100%),
      '2#{\/}6': calc((2 / 6) * 100%),
      '3#{\/}6': calc((3 / 6) * 100%),
      '4#{\/}6': calc((4 / 6) * 100%),
      '5#{\/}6': calc((5 / 6) * 100%),
      'full': 100%,
      'screen': 100vh,
      'max': max-content,
      'min': min-content,
      'fit': fit-content,
      'auto': auto,
    ),
  ),
  'max-height': (
    'prefix': 'max-h',
    'values': (
      '0': 0,
      '0#{\.}5': calc($base-rem / 2),
      '1': $base-rem,
      '1#{\.}5': $base-rem * 2,
      '2': $base-rem * 3,
      '2#{\.}5': $base-rem * 4,
      '3': $base-rem * 5,
      '3#{\.}5': $base-rem * 6,
      '4': $base-rem * 7,
      '5': $base-rem * 8,
      '6': $base-rem * 10,
      '7': $base-rem * 12,
      '8': $base-rem * 14,
      '9': $base-rem * 16,
      '10': $base-rem * 18,
      '11': $base-rem * 20,
      '12': $base-rem * 22,
      '14': $base-rem * 24,
      '16': $base-rem * 26,
      '20': $base-rem * 28,
      '24': $base-rem * 30,
      '28': $base-rem * 32,
      '32': $base-rem * 40,
      '36': $base-rem * 48,
      '40': $base-rem * 56,
      '44': $base-rem * 64,
      '48': $base-rem * 72,
      '52': $base-rem * 80,
      '56': $base-rem * 88,
      '60': $base-rem * 96,
      '64': $base-rem * 104,
      '72': $base-rem * 112,
      '80': $base-rem * 120,
      '88': $base-rem * 128,
      '96': $base-rem * 144,
      '104': $base-rem * 160,
      '112': $base-rem * 176,
      '120': $base-rem * 192,
      '128': $base-rem * 208,
      '136': $base-rem * 224,
      '144': $base-rem * 240,
      '152': $base-rem * 256,
      '1#{\/}2': calc((1 / 2) * 100%),
      '1#{\/}3': calc((1 / 3) * 100%),
      '2#{\/}3': calc((2 / 3) * 100%),
      '1#{\/}4': calc((1 / 4) * 100%),
      '2#{\/}4': calc((2 / 4) * 100%),
      '3#{\/}4': calc((3 / 4) * 100%),
      '1#{\/}5': calc((1 / 5) * 100%),
      '2#{\/}5': calc((2 / 5) * 100%),
      '3#{\/}5': calc((3 / 5) * 100%),
      '4#{\/}5': calc((4 / 5) * 100%),
      '1#{\/}6': calc((1 / 6) * 100%),
      '2#{\/}6': calc((2 / 6) * 100%),
      '3#{\/}6': calc((3 / 6) * 100%),
      '4#{\/}6': calc((4 / 6) * 100%),
      '5#{\/}6': calc((5 / 6) * 100%),
      'full': 100%,
      'screen': 100vh,
      'max': max-content,
      'min': min-content,
      'fit': fit-content,
    ),
  ),
  'min-height': (
    'prefix': 'min-h',
    'values': (
      '0': 0,
      'full': 100%,
      'screen': 100vh,
      'max-con': max-content,
      'min-con': min-content,
      'fit-con': fit-content,
    ),
  ),
  'top': (
    'prefix': 'top',
    'values': (
      '0': 0,
      '0#{\.}5': calc($base-rem / 2),
      '1': $base-rem,
      '1#{\.}5': $base-rem * 2,
      '2': $base-rem * 3,
      '2#{\.}5': $base-rem * 4,
      '3': $base-rem * 5,
      '3#{\.}5': $base-rem * 6,
      '4': $base-rem * 7,
      '5': $base-rem * 8,
      '6': $base-rem * 10,
      '7': $base-rem * 12,
      '8': $base-rem * 14,
      '9': $base-rem * 16,
      '10': $base-rem * 18,
      '11': $base-rem * 20,
      '12': $base-rem * 22,
      '14': $base-rem * 24,
      '16': $base-rem * 26,
      '20': $base-rem * 28,
      '24': $base-rem * 30,
      '28': $base-rem * 32,
      '32': $base-rem * 40,
      '36': $base-rem * 48,
      '40': $base-rem * 56,
      '44': $base-rem * 64,
      '48': $base-rem * 72,
      '52': $base-rem * 80,
      '56': $base-rem * 88,
      '60': $base-rem * 96,
      '64': $base-rem * 104,
      '72': $base-rem * 112,
      '80': $base-rem * 120,
      '88': $base-rem * 128,
      '96': $base-rem * 144,
      '104': $base-rem * 160,
      '112': $base-rem * 176,
      '120': $base-rem * 192,
      '128': $base-rem * 208,
      '136': $base-rem * 224,
      '144': $base-rem * 240,
      '152': $base-rem * 256,
      '1#{\/}2': calc((1 / 2) * 100%),
      '1#{\/}3': calc((1 / 3) * 100%),
      '2#{\/}3': calc((2 / 3) * 100%),
      '1#{\/}4': calc((1 / 4) * 100%),
      '2#{\/}4': calc((2 / 4) * 100%),
      '3#{\/}4': calc((3 / 4) * 100%),
      '1#{\/}5': calc((1 / 5) * 100%),
      '2#{\/}5': calc((2 / 5) * 100%),
      '3#{\/}5': calc((3 / 5) * 100%),
      '4#{\/}5': calc((4 / 5) * 100%),
      '1#{\/}6': calc((1 / 6) * 100%),
      '2#{\/}6': calc((2 / 6) * 100%),
      '3#{\/}6': calc((3 / 6) * 100%),
      '4#{\/}6': calc((4 / 6) * 100%),
      '5#{\/}6': calc((5 / 6) * 100%),
      'full': 100%,
      'auto': auto,
    ),
  ),
  'bottom': (
    'prefix': 'bottom',
    'values': (
      '0': 0,
      '0#{\.}5': calc($base-rem / 2),
      '1': $base-rem,
      '1#{\.}5': $base-rem * 2,
      '2': $base-rem * 3,
      '2#{\.}5': $base-rem * 4,
      '3': $base-rem * 5,
      '3#{\.}5': $base-rem * 6,
      '4': $base-rem * 7,
      '5': $base-rem * 8,
      '6': $base-rem * 10,
      '7': $base-rem * 12,
      '8': $base-rem * 14,
      '9': $base-rem * 16,
      '10': $base-rem * 18,
      '11': $base-rem * 20,
      '12': $base-rem * 22,
      '14': $base-rem * 24,
      '16': $base-rem * 26,
      '20': $base-rem * 28,
      '24': $base-rem * 30,
      '28': $base-rem * 32,
      '32': $base-rem * 40,
      '36': $base-rem * 48,
      '40': $base-rem * 56,
      '44': $base-rem * 64,
      '48': $base-rem * 72,
      '52': $base-rem * 80,
      '56': $base-rem * 88,
      '60': $base-rem * 96,
      '64': $base-rem * 104,
      '72': $base-rem * 112,
      '80': $base-rem * 120,
      '88': $base-rem * 128,
      '96': $base-rem * 144,
      '104': $base-rem * 160,
      '112': $base-rem * 176,
      '120': $base-rem * 192,
      '128': $base-rem * 208,
      '136': $base-rem * 224,
      '144': $base-rem * 240,
      '152': $base-rem * 256,
      '1#{\/}2': calc((1 / 2) * 100%),
      '1#{\/}3': calc((1 / 3) * 100%),
      '2#{\/}3': calc((2 / 3) * 100%),
      '1#{\/}4': calc((1 / 4) * 100%),
      '2#{\/}4': calc((2 / 4) * 100%),
      '3#{\/}4': calc((3 / 4) * 100%),
      '1#{\/}5': calc((1 / 5) * 100%),
      '2#{\/}5': calc((2 / 5) * 100%),
      '3#{\/}5': calc((3 / 5) * 100%),
      '4#{\/}5': calc((4 / 5) * 100%),
      '1#{\/}6': calc((1 / 6) * 100%),
      '2#{\/}6': calc((2 / 6) * 100%),
      '3#{\/}6': calc((3 / 6) * 100%),
      '4#{\/}6': calc((4 / 6) * 100%),
      '5#{\/}6': calc((5 / 6) * 100%),
      'full': 100%,
      'auto': auto,
    ),
  ),
  'left': (
    'prefix': 'left',
    'values': (
      '0': 0,
      '0#{\.}5': calc($base-rem / 2),
      '1': $base-rem,
      '1#{\.}5': $base-rem * 2,
      '2': $base-rem * 3,
      '2#{\.}5': $base-rem * 4,
      '3': $base-rem * 5,
      '3#{\.}5': $base-rem * 6,
      '4': $base-rem * 7,
      '5': $base-rem * 8,
      '6': $base-rem * 10,
      '7': $base-rem * 12,
      '8': $base-rem * 14,
      '9': $base-rem * 16,
      '10': $base-rem * 18,
      '11': $base-rem * 20,
      '12': $base-rem * 22,
      '14': $base-rem * 24,
      '16': $base-rem * 26,
      '20': $base-rem * 28,
      '24': $base-rem * 30,
      '28': $base-rem * 32,
      '32': $base-rem * 40,
      '36': $base-rem * 48,
      '40': $base-rem * 56,
      '44': $base-rem * 64,
      '48': $base-rem * 72,
      '52': $base-rem * 80,
      '56': $base-rem * 88,
      '60': $base-rem * 96,
      '64': $base-rem * 104,
      '72': $base-rem * 112,
      '80': $base-rem * 120,
      '88': $base-rem * 128,
      '96': $base-rem * 144,
      '104': $base-rem * 160,
      '112': $base-rem * 176,
      '120': $base-rem * 192,
      '128': $base-rem * 208,
      '136': $base-rem * 224,
      '144': $base-rem * 240,
      '152': $base-rem * 256,
      '1#{\/}2': calc((1 / 2) * 100%),
      '1#{\/}3': calc((1 / 3) * 100%),
      '2#{\/}3': calc((2 / 3) * 100%),
      '1#{\/}4': calc((1 / 4) * 100%),
      '2#{\/}4': calc((2 / 4) * 100%),
      '3#{\/}4': calc((3 / 4) * 100%),
      '1#{\/}5': calc((1 / 5) * 100%),
      '2#{\/}5': calc((2 / 5) * 100%),
      '3#{\/}5': calc((3 / 5) * 100%),
      '4#{\/}5': calc((4 / 5) * 100%),
      '1#{\/}6': calc((1 / 6) * 100%),
      '2#{\/}6': calc((2 / 6) * 100%),
      '3#{\/}6': calc((3 / 6) * 100%),
      '4#{\/}6': calc((4 / 6) * 100%),
      '5#{\/}6': calc((5 / 6) * 100%),
      'full': 100%,
      'auto': auto,
    ),
  ),
  'right': (
    'prefix': 'right',
    'values': (
      '0': 0,
      '0#{\.}5': calc($base-rem / 2),
      '1': $base-rem,
      '1#{\.}5': $base-rem * 2,
      '2': $base-rem * 3,
      '2#{\.}5': $base-rem * 4,
      '3': $base-rem * 5,
      '3#{\.}5': $base-rem * 6,
      '4': $base-rem * 7,
      '5': $base-rem * 8,
      '6': $base-rem * 10,
      '7': $base-rem * 12,
      '8': $base-rem * 14,
      '9': $base-rem * 16,
      '10': $base-rem * 18,
      '11': $base-rem * 20,
      '12': $base-rem * 22,
      '14': $base-rem * 24,
      '16': $base-rem * 26,
      '20': $base-rem * 28,
      '24': $base-rem * 30,
      '28': $base-rem * 32,
      '32': $base-rem * 40,
      '36': $base-rem * 48,
      '40': $base-rem * 56,
      '44': $base-rem * 64,
      '48': $base-rem * 72,
      '52': $base-rem * 80,
      '56': $base-rem * 88,
      '60': $base-rem * 96,
      '64': $base-rem * 104,
      '72': $base-rem * 112,
      '80': $base-rem * 120,
      '88': $base-rem * 128,
      '96': $base-rem * 144,
      '104': $base-rem * 160,
      '112': $base-rem * 176,
      '120': $base-rem * 192,
      '128': $base-rem * 208,
      '136': $base-rem * 224,
      '144': $base-rem * 240,
      '152': $base-rem * 256,
      '1#{\/}2': calc((1 / 2) * 100%),
      '1#{\/}3': calc((1 / 3) * 100%),
      '2#{\/}3': calc((2 / 3) * 100%),
      '1#{\/}4': calc((1 / 4) * 100%),
      '2#{\/}4': calc((2 / 4) * 100%),
      '3#{\/}4': calc((3 / 4) * 100%),
      '1#{\/}5': calc((1 / 5) * 100%),
      '2#{\/}5': calc((2 / 5) * 100%),
      '3#{\/}5': calc((3 / 5) * 100%),
      '4#{\/}5': calc((4 / 5) * 100%),
      '1#{\/}6': calc((1 / 6) * 100%),
      '2#{\/}6': calc((2 / 6) * 100%),
      '3#{\/}6': calc((3 / 6) * 100%),
      '4#{\/}6': calc((4 / 6) * 100%),
      '5#{\/}6': calc((5 / 6) * 100%),
      'full': 100%,
      'auto': auto,
    ),
  ),
  'grid-template-columns': (
    'prefix': 'grid-cols',
    'values': (
      'none': none,
      '1': repeat(1, minmax(0, 1fr)),
      '2': repeat(2, minmax(0, 2fr)),
      '3': repeat(3, minmax(0, 3fr)),
      '4': repeat(4, minmax(0, 4fr)),
      '5': repeat(5, minmax(0, 5fr)),
      '6': repeat(6, minmax(0, 6fr)),
      '7': repeat(7, minmax(0, 7fr)),
      '8': repeat(8, minmax(0, 8fr)),
      '9': repeat(9, minmax(0, 9fr)),
      '10': repeat(10, minmax(0, 10fr)),
      '11': repeat(11, minmax(0, 11fr)),
      '12': repeat(12, minmax(0, 12fr)),
    ),
  ),
  'grid-template-rows': (
    'prefix': 'grid-rows',
    'values': (
      'none': none,
      '1': repeat(1, minmax(0, 1fr)),
      '2': repeat(2, minmax(0, 2fr)),
      '3': repeat(3, minmax(0, 3fr)),
      '4': repeat(4, minmax(0, 4fr)),
      '5': repeat(5, minmax(0, 5fr)),
      '6': repeat(6, minmax(0, 6fr)),
      '7': repeat(7, minmax(0, 7fr)),
      '8': repeat(8, minmax(0, 8fr)),
      '9': repeat(9, minmax(0, 9fr)),
      '10': repeat(10, minmax(0, 10fr)),
      '11': repeat(11, minmax(0, 11fr)),
      '12': repeat(12, minmax(0, 12fr)),
    ),
  ),
  'grid-auto-flow': (
    'prefix': 'grid-flow',
    'values': (
      'row': row,
      'col': column,
      'row\-dense': row dense,
      'col\-dense': column dense,
    ),
  ),
  'grid-auto-columns': (
    'prefix': 'auto-cols',
    'values': (
      'auto': auto,
      'min': min-content,
      'max': max-content,
      'fr': minmax(0, 1fr),
    ),
  ),
  'grid-auto-rows': (
    'prefix': 'auto-rows',
    'values': (
      'auto': auto,
      'min': min-content,
      'max': max-content,
      'fr': minmax(0, 1fr),
    ),
  ),
  'gap': (
    'prefix': 'gap',
    'values': (
      '0': 0,
      '0#{\.}5': calc($base-rem / 2),
      '1': $base-rem,
      '1#{\.}5': $base-rem * 2,
      '2': $base-rem * 3,
      '2#{\.}5': $base-rem * 4,
      '3': $base-rem * 5,
      '3#{\.}5': $base-rem * 6,
      '4': $base-rem * 7,
      '5': $base-rem * 8,
      '6': $base-rem * 10,
      '7': $base-rem * 12,
      '8': $base-rem * 14,
      '9': $base-rem * 16,
      '10': $base-rem * 18,
      '11': $base-rem * 20,
      '12': $base-rem * 22,
      '14': $base-rem * 24,
      '16': $base-rem * 26,
      '20': $base-rem * 28,
      '24': $base-rem * 30,
      '28': $base-rem * 32,
      '32': $base-rem * 40,
      '36': $base-rem * 48,
      '40': $base-rem * 56,
      '44': $base-rem * 64,
      '48': $base-rem * 72,
      '52': $base-rem * 80,
      '56': $base-rem * 88,
      '60': $base-rem * 96,
      '64': $base-rem * 104,
      '72': $base-rem * 112,
      '80': $base-rem * 120,
      '88': $base-rem * 128,
      '96': $base-rem * 144,
      '104': $base-rem * 160,
      '112': $base-rem * 176,
      '120': $base-rem * 192,
      '128': $base-rem * 208,
      '136': $base-rem * 224,
      '144': $base-rem * 240,
      '152': $base-rem * 256,
    ),
  ),
  'column-gap': (
    'prefix': 'gap-x',
    'values': (
      '0': 0,
      '0#{\.}5': calc($base-rem / 2),
      '1': $base-rem,
      '1#{\.}5': $base-rem * 2,
      '2': $base-rem * 3,
      '2#{\.}5': $base-rem * 4,
      '3': $base-rem * 5,
      '3#{\.}5': $base-rem * 6,
      '4': $base-rem * 7,
      '5': $base-rem * 8,
      '6': $base-rem * 10,
      '7': $base-rem * 12,
      '8': $base-rem * 14,
      '9': $base-rem * 16,
      '10': $base-rem * 18,
      '11': $base-rem * 20,
      '12': $base-rem * 22,
      '14': $base-rem * 24,
      '16': $base-rem * 26,
      '20': $base-rem * 28,
      '24': $base-rem * 30,
      '28': $base-rem * 32,
      '32': $base-rem * 40,
      '36': $base-rem * 48,
      '40': $base-rem * 56,
      '44': $base-rem * 64,
      '48': $base-rem * 72,
      '52': $base-rem * 80,
      '56': $base-rem * 88,
      '60': $base-rem * 96,
      '64': $base-rem * 104,
      '72': $base-rem * 112,
      '80': $base-rem * 120,
      '88': $base-rem * 128,
      '96': $base-rem * 144,
      '104': $base-rem * 160,
      '112': $base-rem * 176,
      '120': $base-rem * 192,
      '128': $base-rem * 208,
      '136': $base-rem * 224,
      '144': $base-rem * 240,
      '152': $base-rem * 256,
    ),
  ),
  'row-gap': (
    'prefix': 'gap-y',
    'values': (
      '0': 0,
      '0#{\.}5': calc($base-rem / 2),
      '1': $base-rem,
      '1#{\.}5': $base-rem * 2,
      '2': $base-rem * 3,
      '2#{\.}5': $base-rem * 4,
      '3': $base-rem * 5,
      '3#{\.}5': $base-rem * 6,
      '4': $base-rem * 7,
      '5': $base-rem * 8,
      '6': $base-rem * 10,
      '7': $base-rem * 12,
      '8': $base-rem * 14,
      '9': $base-rem * 16,
      '10': $base-rem * 18,
      '11': $base-rem * 20,
      '12': $base-rem * 22,
      '14': $base-rem * 24,
      '16': $base-rem * 26,
      '20': $base-rem * 28,
      '24': $base-rem * 30,
      '28': $base-rem * 32,
      '32': $base-rem * 40,
      '36': $base-rem * 48,
      '40': $base-rem * 56,
      '44': $base-rem * 64,
      '48': $base-rem * 72,
      '52': $base-rem * 80,
      '56': $base-rem * 88,
      '60': $base-rem * 96,
      '64': $base-rem * 104,
      '72': $base-rem * 112,
      '80': $base-rem * 120,
      '88': $base-rem * 128,
      '96': $base-rem * 144,
      '104': $base-rem * 160,
      '112': $base-rem * 176,
      '120': $base-rem * 192,
      '128': $base-rem * 208,
      '136': $base-rem * 224,
      '144': $base-rem * 240,
      '152': $base-rem * 256,
    ),
  ),
  'opacity': (
    'prefix': 'o',
    'values': (
      '10': $base-opacity,
      '20': $base-opacity * 2,
      '30': $base-opacity * 3,
      '40': $base-opacity * 4,
      '50': $base-opacity * 5,
      '60': $base-opacity * 6,
      '70': $base-opacity * 7,
      '80': $base-opacity * 8,
      '90': $base-opacity * 9,
      '100': $base-opacity * 10,
    ),
  ),
  'background-position': (
    'prefix': 'bg',
    'values': (
      'left': left,
      'right': right,
      'top': top,
      'bottom': bottom,
      'center': center,
      'left-top': left top,
      'right-top': right top,
      'left-bottom': left bottom,
      'right-bottom': right bottom,
    ),
  ),
  'background-repeat': (
    'prefix': 'bg',
    'values': (
      'repeat': repeat,
      'no-repeat': no-repeat,
      'repeat-x': repeat-x,
      'repeat-y': repeat-y,
    ),
  ),
  'background-size': (
    'prefix': 'bg',
    'values': (
      'cover': cover,
      'auto': auto,
      'contain': contain,
    ),
  ),
  'list-style-type': (
    'prefix': 'list',
    'values': (
      'none': none,
      'disc': disc,
      'decimal': decimal,
      'circle': circle,
    ),
  ),
  'text-decoration': (
    'prefix': 'decor',
    'values': (
      'none': none,
      'underline': underline,
      'line-through': line-through,
    ),
  ),
  'text-decoration-thickness': (
    'prefix': 'decor',
    'values': (
      '0': 0,
      '1': 1px,
      '2': 2px,
      '4': 4px,
      '6': 6px,
      '8': 8px,
    ),
  ),
  'transition': (
    'prefix': 'transition',
    'values': (
      '1': 0.15s ease-in-out,
      '2': 0.2s ease-in-out,
      '3': 0.3s ease-in-out,
      '4': 0.4s ease-in-out,
      '5': 0.5s ease-in-out,
    ),
  ),
  'cursor': (
    'prefix': 'cursor',
    'values': (
      'pointer': pointer,
      'wait': wait,
      'grab': grab,
      'grabbing': grabbing,
      'no-drop': no-drop,
      'copy': copy,
      'move': move,
      'not\-allowed': not-allowed,
      'zoom\-in': zoom-in,
      'zoom\-out': zoom-out,
      'none': none,
      'progress': progress,
      'text': text,
      'help': help,
      'default': default,
      'auto': auto,
    ),
  ),
  'z-index': (
    'prefix': 'z',
    'values': (
      '0': 0,
      '100': 100,
      '200': 200,
      '300': 300,
      '400': 400,
      '500': 500,
      'auto': auto,
    ),
  ),
);

// generate utility classes
@each $property, $map in $sizing-spacing {
  $prefix: map-get($map, 'prefix');
  $values: map-get($map, 'values');

  @each $k, $v in $values {
    @if ($k == 'default') {
      .#{$prefix} {
        #{$property}: $v;
      }
    } @else {
      .#{$prefix}-#{$k} {
        #{$property}: $v;
      }
    }
  }
}

// hover
@each $property, $map in $sizing-spacing {
  $prefix: map-get($map, 'prefix');
  $values: map-get($map, 'values');

  @each $k, $v in $values {
    @if ($k == 'default') {
      .hover\:#{$prefix}:hover {
        #{$property}: $v;
      }
    } @else {
      .hover\:#{$prefix}-#{$k}:hover {
        #{$property}: $v;
      }
    }
  }
}

// focus
@each $property, $map in $sizing-spacing {
  $prefix: map-get($map, 'prefix');
  $values: map-get($map, 'values');

  @each $k, $v in $values {
    @if ($k == 'default') {
      .focus\:#{$prefix}:focus {
        #{$property}: $v;
      }
    } @else {
      .focus\:#{$prefix}-#{$k}:focus {
        #{$property}: $v;
      }
    }
  }
}

// active
@each $property, $map in $sizing-spacing {
  $prefix: map-get($map, 'prefix');
  $values: map-get($map, 'values');

  @each $k, $v in $values {
    @if ($k == 'default') {
      .active\:#{$prefix}:active {
        #{$property}: $v;
      }
    } @else {
      .active\:#{$prefix}-#{$k}:active {
        #{$property}: $v;
      }
    }
  }
}

// breakpoints
// extra small
@each $property, $map in $sizing-spacing {
  $prefix: map-get($map, 'prefix');
  $values: map-get($map, 'values');

  @each $k, $v in $values {
    @if ($k == 'default') {
      .xs\:#{$prefix} {
        @include xs {
          #{$property}: $v;
        }
      }
    } @else {
      .xs\:#{$prefix}-#{$k} {
        @include xs {
          #{$property}: $v;
        }
      }
    }
  }
}

// small
@each $property, $map in $sizing-spacing {
  $prefix: map-get($map, 'prefix');
  $values: map-get($map, 'values');

  @each $k, $v in $values {
    @if ($k == 'default') {
      .sm\:#{$prefix} {
        @include sm {
          #{$property}: $v;
        }
      }
    } @else {
      .sm\:#{$prefix}-#{$k} {
        @include sm {
          #{$property}: $v;
        }
      }
    }
  }
}

// medium
@each $property, $map in $sizing-spacing {
  $prefix: map-get($map, 'prefix');
  $values: map-get($map, 'values');

  @each $k, $v in $values {
    @if ($k == 'default') {
      .md\:#{$prefix} {
        @include md {
          #{$property}: $v;
        }
      }
    } @else {
      .md\:#{$prefix}-#{$k} {
        @include md {
          #{$property}: $v;
        }
      }
    }
  }
}

// large
@each $property, $map in $sizing-spacing {
  $prefix: map-get($map, 'prefix');
  $values: map-get($map, 'values');

  @each $k, $v in $values {
    @if ($k == 'default') {
      .lg\:#{$prefix} {
        @include lg {
          #{$property}: $v;
        }
      }
    } @else {
      .lg\:#{$prefix}-#{$k} {
        @include lg {
          #{$property}: $v;
        }
      }
    }
  }
}

// extra large
@each $property, $map in $sizing-spacing {
  $prefix: map-get($map, 'prefix');
  $values: map-get($map, 'values');

  @each $k, $v in $values {
    @if ($k == 'default') {
      .xl\:#{$prefix} {
        @include xl {
          #{$property}: $v;
        }
      }
    } @else {
      .xl\:#{$prefix}-#{$k} {
        @include xl {
          #{$property}: $v;
        }
      }
    }
  }
}
